 /*

  _____ ___ ___ _       _   _ ___   _____  
 |  ___/ _ \_ _| |     | | | |_ _| |___  | 
 | |_ | | | | || |     | | | || |     / /  
 |  _|| |_| | || |___  | |_| || |    / /   
 |_|   \___/___|_____|  \___/|___|  /_/    
                                                                  
                                                                                
                                                                                
                   .                                                            
                   MM                            MM                             
                   MMM                          MMM                             
                   MMMM                        MMMM                             
                   MMMM                        MMMM                             
                   MMMM                        MMMM                             
                   MMMM        ..              MMMM                             
                   MMMM        MMMMMMM         MMMM                             
                   MMMM          ..  ?         MMMM                             
                   MMMM       MMMMMZMM.        MMMM                             
                   MMMM          .MM.          MMMM                             
                   MMMM         ,MMMM          MMMM                             
                   MMMM        MM   MM         MMMM                             
                   MMMM     .MM?    MMMMM+     MMMM                             
                   MMMM                        MMMM                             
                   MMMM                        MMMM                             
                   MMMM                        MMMM                             
                   MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                             
                    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                              
                      .                                                         
                                                                                
             


(f82uw92) 
                               the flex on em  version
 Anybody can use this repository for any purpose.
 100% Free, No License or license
 FOIL OS is still being developed since December 31 of 2012 
 /* Current  Version 7.0 Beta Stabled   */
 /* This specification of FOIL UI 7 is designed specifically for mozilla based and chromium based web browsers. 
/* 
  ____    _             _                     ____                   
 / ___|  | |_    __ _  | |_   _   _   ___    | __ )    __ _   _ __   
 \___ \  | __|  / _` | | __| | | | | / __|   |  _ \   / _` | | '__|  
  ___) | | |_  | (_| | | |_  | |_| | \__ \   | |_) | | (_| | | |     
 |____/   \__|  \__,_|  \__|  \__,_| |___/   |____/   \__,_| |_|     7 
                                                 NEW                 
*/
body{
 position:center;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
  
    background-color: black; /* Change Status Bar Color */
    
}
/* LEAVE THIS */ 
li {
    float: left;
}

li a {
        display: block;
        color: white;  /* Change font color for the status bar */ 
        text-align: center /* ?:HACK*/ ;
        padding: 14px 16px;
        text-decoration: none;
    }

li a:{
    background-color: black; /* LEAVE IT. */ 
}




/* 
  ___         _                __                      ____         _    _    _                    
 |_ _| _ __  | |_  ___  _ __  / _|  __ _   ___  ___   / ___|   ___ | |_ | |_ (_) _ __    __ _  ___ 
  | | | '_ \ | __|/ _ \| '__|| |_  / _` | / __|/ _ \  \___ \  / _ \| __|| __|| || '_ \  / _` |/ __|
  | | | | | || |_|  __/| |   |  _|| (_| || (__|  __/   ___) ||  __/| |_ | |_ | || | | || (_| |\__ \
 |___||_| |_| \__|\___||_|   |_|   \__,_| \___|\___|  |____/  \___| \__| \__||_||_| |_| \__, ||___/
                                                                                        |___/  NEW 7 
*/
html{box-sizing:border-box;overflow:hidden}*,*::before,*::after{box-sizing:inherit}body{height:100vh;margin:0;overflow-y:auto;overflow-x:hidden;-webkit-perspective:1px;perspective:1px}img{display:block;width:100%}.parallax-group{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}

/*#####################################*/
/* WARNING ! DONT EDIT THIS CODE. THIS IS AUTOMATICALLY NATURALLY  GENERATED */ 
.back{-webkit-transform:translateZ(-1px) scale(2);transform:translateZ(-1px) scale(2);position:relative;top:calc(((100vh - 56.25vw) / 4) * -2);
}
/* ######################################*/


/* THIS ONE YOU CAN EDIT. */
.clockscreen{ 
    /* change background color or a image url for the layout. 
    
    Note: for the next paragraph, you may need to make a another call to the layout class */ 
  background-color: black;
  color:white;
  padding: 10em 1em;
  position: relative;
  z-index: 2;
}

.layout1 { 
    /* change background color or a image url for the layout. 
    
    Note: for the next paragraph, you may need to make a another call to the layout class */ 
  background-color: lightskyblue;
  color:black;
  padding: 10em 1em;
  position: relative;
  z-index: 2;
}
.layout2{
       /* change background color or a image url for the layout. 
    
    Note: for the next paragraph, you may need to make a another call to the layout class */ 
  background-color:burlywood;
  padding: 10em 1em;
  position: relative;
  z-index: 2;
}

.layout3 {
          /* change background color or a image url for the layout. 
    
    Note: for the next paragraph, you may need to make a another call to the layout class */ 
  background-color:coral;
  color:black;
  padding: 10em 1em;
  position: relative;
  z-index: 2;
  text-shadow: ;
    
}

.layout4 {
             /* change background color or a image url for the layout. 
    
    Note: for the next paragraph, you may need to make a another call to the layout class */ 
  background-color:lightseagreen;
  color:black;
  padding: 10em 1em;
  position: relative;
  z-index: 2;
  text-shadow: ;
    
}
.layout5 {
                /* change background color or a image url for the layout. 
    
    Note: for the next paragraph, you may need to make a another call to the layout class */ 
  background-color:lightgreen;
  color:black;
  padding: 10em 1em;
  position: relative;
  z-index: 2;
  text-shadow: ;
     
    
}

.layout6{
    
                    /* change background color or a image url for the layout. 
    
    Note: for the next paragraph, you may need to make a another call to the layout class */ 
  background-color:darkkhaki;
  color:black;
  padding: 10em 1em;
  position: relative;
  z-index: 2;
  text-shadow: ;
     
}

.layout7{
                        /* change background color or a image url for the layout. 
    
    Note: for the next paragraph, you may need to make a another call to the layout class */ 
  background-color:dodgerblue;
  color:white;
  padding: 10em 1em;
  position: relative;
  z-index: 2;
  text-shadow: ;
     
}
    
}
/* Small Layouts */ 
.small_layout0{
    background-color:red;
  color:white;
  padding: 3em 1em;
  position: relative;
  z-index: 2;
  text-shadow: ;
    
}
.indicator{
   background-color:darkslategray;
  color:white;
  padding: 3em 1em;
  position: relative;
  z-index: 2;
  text-shadow: ;
    
}
/*###########################################*/ 



/* THIS IS AN OPTIONAL COMMMAND*/
h2 {
  -webkit-transform: translateZ(-0.5px) scale(1.5);
  transform: translateZ(-0.5px) scale(1.5);
  position: absolute;
  top: 10em;
  width: 100%;

  text-align: center ;
  color: white;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
/*
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
*/ 
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
/* FOIL UI
/* 
  ____  _   _ _____ _____ ___  _   _ ____   
 | __ )| | | |_   _|_   _/ _ \| \ | / ___|  
 |  _ \| | | | | |   | || | | |  \| \___ \  
 | |_) | |_| | | |   | || |_| | |\  |___) | 
 |____/ \___/  |_|   |_| \___/|_| \_|____/  Framework 7 
                                          
 */ 
/* INTRODUCING BUTTON SELECTION. VARIOUS TYPES OF BUTTONS INCLUDING HOVERABLE ANIMATED
 * BUTTONS, AND COLORFUL UNIQUE BUTTONS */ 
 /* Classic but changed button */ 
.default_button {
    background-color: seagreen; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
/* Makes the buttons shadow */ 
.default_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.47),0 40px 90px 0 rgba(0,0,0,0.38);
}

.red_button {
        background-color: indianred; /* red */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
    
}


.red_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.47),0 40px 90px 0 rgba(0,0,0,0.38);
}

.orange_button {
        background-color: coral; /* orange */
    border: none;
    color: white ;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
    
}


.orange_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.47),0 40px 90px 0 rgba(0,0,0,0.38);
}


/* Unique Buttons LIMITED */
.yellow_button{
    background-color: orange; /* orange */
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
    
    
}

.yellow_button:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.47),0 40px 90px 0 rgba(0,0,0,0.38);

}



.lightgreen_button{
                background-color: lightgreen; /* orange */
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
    
}

.lightgreen_button:hover{
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.47),0 40px 90px 0 rgba(0,0,0,0.38);

    
}


/* No shadow */ 
.orange_classic_button{
    background-color: orange; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
    
    
}






/*
  _     ___    _    ____  _____ ____       _   _ ___ 
 | |   / _ \  / \  |  _ \| ____|  _ \     | | | |_ _|
 | |  | | | |/ _ \ | | | |  _| | |_) |    | | | || | 
 | |__| |_| / ___ \| |_| | |___|  _ <     | |_| || | 
 |_____\___/_/   \_\____/|_____|_| \_\     \___/|___| 7 
                                           /* Art by Senal Bulumulle */ 



/* 
    

                                                                            
                                                                                
                                                                                
                   .                                                            
                   MM                            MM                             
                   MMM                          MMM                             
                   MMMM                        MMMM                             
                   MMMM                        MMMM                             
                   MMMM                        MMMM                             
                   MMMM        ..              MMMM                             
                   MMMM        MMMMMMM         MMMM                             
                   MMMM          ..  ?         MMMM                             
                   MMMM       MMMMMZMM.        MMMM                             
                   MMMM          .MM.          MMMM                             
                   MMMM         ,MMMM          MMMM                             
                   MMMM        MM   MM         MMMM                             
                   MMMM     .MM?    MMMMM+     MMMM                             
                   MMMM                        MMMM                             
                   MMMM                        MMMM                             
                   MMMM                        MMMM                             
                   MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                             
                    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                              
                      .                                                         
                                                                                
                                                               

*/ 

 
/*  Search: Loader UI  */
     * {
     /* Loader UI 7 Settings */ 
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

  #loader{
      /* Wait cursor activates when cursor is directory on the loading spinner */ 
    cursor:url('wait.cur'), default;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
    /* Command must be equal -75px 0 0 -75px */
  margin: -75px 0 0 -75px;
    /* START FROM BORDER COMMAND */

    
  border: 10px solid black; /* Change Color 
  border-image-repeat: /* Leave it blank */ 
    /* If radius is 90% the loader will turn to Circle with a smile face
    /* If radius is 9%, the loader will turn to a card shaped box */
    /* Regular CSS BUG */ 
  border-radius: absolute;
    /* Count by 10s */ 
  border-radius: off;
  border-radius: off; 
  border-radius: off; 
  border-radius: off; 
  border-radius:off; 
  border-radius:off; 
  border-radius:off;
 border-top: 20px solid white; /*#Hack*9*/
 border-top: 3%  solid white;/* Leave it white */   
 border-right:3% solid white;
    
    
 white-space: none;
  
  width: 79px;
  height: 79px;
  

    /* 
    * Absolute: No loader spin 
    *
    *
    *
    *
*/ 
  -webkit-animation: spin 1s;
    /* Loader urgently spins to the right when FOIL OS restarts followed by the animation: spin num s; */
  -animation: spin 20s ; /* IF 10s, Then -webkit: will not respond to counterclockwise . It will just go forward infinitely*/ 
 
}
#logo{
    
      position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
    /* Command must be equal -75px 0 0 -75px */
  margin: -75px 0 0 -75px;
      -webkit-animation: spin 1s;
    /* Loader urgently spins to the right when FOIL OS restarts followed by the animation: spin num s; */
  -animation: spin 10000s ; /* IF 10s, Then -webkit: will not respond to counterclockwise . It will just go forward infinitely*/ 
 
}



@-webkit-keyframes spin {
  10% { -webkit-transform: rotate(3600deg); }
  100% { -webkit-transform: rotate(3600deg); }
}

@keyframes spin {
  90% { transform: rotate(299deg); }
    /* VIA "transform: rotate(num deg);" increase will speed up the loader */
  20% { transform: rotate(360deg); }: spins;
}

#text{
    position:center;
    
}
.animate-bottom {
  position: center;
  -webkit-animation-name: animatebottom;

  -webkit-animation-duration: 0s ;
  animation-name: animatebottom 0s;

  animation-duration: 0s;
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:18 }
  to{ bottom:0; opacity:1 }
}


.text{
    
    /* Leave it blank */ /*#Hack*/
}

/* Aligns text after the loader is completed it's job */ 
/* Followed by the display and the text-align */ 
#myDiv {
    /* Always make this none*/ 
  display: none;
    
    /* Positions display of FOIL OS and FOIL UI */ 
    /* If text-align is blank, by DEFAULT, the position will be left*/ 
  text-align: ;
}







/*
   ____ _     ___   ____ _  __  _   _ ___  
  / ___| |   / _ \ / ___| |/ / | | | |_ _| 
 | |   | |  | | | | |   | ' /  | | | || |  
 | |___| |__| |_| | |___| . \  | |_| || |  
  \____|_____\___/ \____|_|\_\  \___/|___| */ 
                            /* Generic UI  */
/* RELEASE DATE: 1 June 2018 14:50 EST TIME GMT */


    






/*
  __  __   ___   _   _  ____   _____    ____  _   _  ____   ____    ___   ____  
 |  \/  | / _ \ | | | |/ ___| | ____|  / ___|| | | ||  _ \ / ___|  / _ \ |  _ \ 
 | |\/| || | | || | | |\___ \ |  _|   | |    | | | || |_) |\___ \ | | | || |_) |
 | |  | || |_| || |_| | ___) || |___  | |___ | |_| ||  _ <  ___) || |_| ||  _ < 
 |_|  |_| \___/  \___/ |____/ |_____|  \____| \___/ |_| \_\|____/  \___/ |_| \_\ 7
                                                                      When Moving          
*/
body {
	 cursor:url('mouse.cur'), default;
	   
	
}

/* FONT HACK */ 

/* LEAVE IT 
DON'T EDIT THIS PORTION OF THIS CODE */ 

/************************************************/
body {
    
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: normal 18px Helvetica, sans-serif;
    
    /* 
    
    
   /***********************************************/ 
    
    */
  -webkit-touch-callout: default;  /* default = enabled touch screen capablities as well as non touch-screen devices */ 
    
    /* Leave this one */ 
  -webkit-user-select: none;
  user-select: none;
}

/* *************************************************/


/* Change the default size of FOIL OS */ 
html {
	height: 100%;
	background: url();
	background-size: cover;
  position:center;
}

/* Screen Resolution  */ 

x